{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WebPapi</title>
    <link rel="stylesheet" href="{% static 'papi/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'papi/fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'papi/css/Login-Form-Clean.css' %}">
</head>

<body>
    <div class="container-fluid text-center d-inline-block" style="background-image: url(&quot;{% static 'papi/css/Header.png'%}&quot;);background-position: 100% 50%;background-size: contain;background-repeat: round;min-height: 110px;margin-top: 0px;padding: 0px;">
        <div class="row text-center justify-content-center align-items-center align-content-center mx-auto" style="margin-top: 20px;background-position: center;background-size: contain;background-repeat: repeat;">
            <div class="col text-center"><a class="btn btn-custom btn-lg" type="button" style="width: 200px; text-decoration: none;" role="button" href="{% url 'index' %}">Informasi PKM</a></div>
            <div class="col text-center"><a class="btn btn-custom btn-lg" type="button" style="width: 200px; text-decoration: none;" role="button" href="{% url 'login' %}">Informasi Dosen</a></div>
            <div class="col text-center"><a class="btn btn-custom btn-lg" type="button" style="width: 200px; text-decoration: none;" role="button" href="{% url 'login' %}">Timeline</a></div>
            <div class="col text-center"><a class="btn btn-custom btn-lg" type="button" style="width: 200px; text-decoration: none;" role="button" href="{% url 'login' %}">Format</a></div>
            {% if user.is_authenticated %}
            <div class="col text-center"><a class="btn btn-custom btn-lg" type="button" style="width: 200px; text-decoration: none;" role="button" href="{% url 'login' %}">Profile</a></div>
            {% else %}
            <div class="col text-center"><a class="btn btn-custom btn-lg" type="button" style="width: 200px; text-decoration: none;" role="button" href="{% url 'login' %}">Login</a></div>
            {% endif %}
        </div>
    </div>
    <div class="login-clean" style="background-color: #ffffff;">
        <form class="border rounded" method="POST" style="min-width: 600px;background-color: #fde3c8;" action="{% url 'login' %}">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <div class="form-row align-items-center">
                    <div class="col-3"><img src="{% static 'papi/css/Logo.png' %}" style="width: 100px;height: 100px;color: #70c7e2;"></div>
                    <div class="col-6">
                        <p class="text-center" style="font-size: 72px;color: #70c7e2;font-weight: bold;">WebPapi</p>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <p class="text-center" style="color: #70c7e2;font-size: 30px;font-weight: bold;">Padjadjaran Goes To Pimnas<br></p>
                </div>
            </div>
            <!-- {{ form.p }} -->
            <div class="form-group"><input class="form-control" type="email" name="username" id="email" placeholder="Email" style="background-color: #e5e5e5;"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" id="password" placeholder="Password" style="background-color: #e5e5e5;"></div>
            {% if form.errors %}
            <p class=" label label-danger">
                Error
            </p>
        {% endif %}
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: #ffa883;">Log In</button></div>
            <div class="form-row justify-content-center">
                <div class="col-4 text-center">
                    <p class="text-center" style="font-size: 20px;">Belum Ada Akun?</p>
                </div>
                <div class="col-2"><a href="{% url 'register' %}" class="forgot" style="color: #FFA883;font-size: 20px;">Register</a></div>
            </div>
        </form>
    </div>
    <div class="container-fluid text-center d-inline-block" style="background-image: url(&quot;{%static 'papi/img/FooterRevisi.png'%}&quot;);background-position: top;background-size: contain;">
        <div style="min-height: 50px;"></div>
        <p style="font-size: 30px;font-weight: bold;color: #ffffff;">Cyber Developer</p>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>