{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WebPapi</title>
    <link rel="stylesheet" href="{% static 'papi/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'papi/fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'papi/css/Login-Form-Clean.css' %}">
</head>

<body style="background-color: #FAF2F8;">
    <div class="container-fluid text-center d-inline-block" style="background-image: url(&quot;{% static 'papi/img/Header.png'%}&quot;);background-position: 100% 50%;background-size: contain;background-repeat: round;min-height: 110px;margin-top: 0px;padding: 0px;">
        <div class="row text-center justify-content-center align-items-center align-content-center mx-auto" style="margin-top: 20px;background-position: center;background-size: contain;background-repeat: repeat;">
            <div class="col text-center"><a class="btn btn-custom btn-lg" type="button" style="width: 200px; text-decoration: none;" role="button" href="{% url 'index' %}">Informasi PKM</a></div>
            <div class="col text-center"><a class="btn btn-custom btn-lg" type="button" style="width: 200px; text-decoration: none;" role="button" href="{% url 'login' %}">Informasi Dosen</a></div>
            <div class="col text-center"><a class="btn btn-custom btn-lg" type="button" style="width: 200px; text-decoration: none;" role="button" href="{% url 'login' %}">Timeline</a></div>
            <div class="col text-center"><a class="btn btn-custom btn-lg" type="button" style="width: 200px; text-decoration: none;" role="button" href="{% url 'login' %}">Format</a></div>
            {% if user.is_authenticated %}
            <div class="col text-center"><a class="btn btn-custom btn-lg" type="button" style="width: 200px; text-decoration: none;" role="button" href="{% url 'login' %}">Profile</a></div>
            {% else %}
            <div class="col text-center"><a class="btn btn-custom btn-lg" type="button" style="width: 200px; text-decoration: none;" role="button" href="{% url 'login' %}">Login</a></div>
            {% endif %}
        </div>
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="register-photo" style="background-color: #FFFFFF;">
        <div class="form-container" style="background-color: #FDE3C8;">
            <form method="POST" style="background-color: #FDE3C8;" action="{% url 'register-dosen' %}" >
                {% csrf_token %}
                <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username" style="background-color: #E5E5E5;"></div>
                <div class="form-group"><input class="form-control" type="text" name="first_name" placeholder="First Name" style="background-color: #E5E5E5;"></div>
                <div class="form-group"><input class="form-control" type="text" name="last_name" placeholder="Last Name" style="background-color: #E5E5E5;"></div>
                <div class="form-group"><input class="form-control" type="email" id="email" name="email" placeholder="Email" style="background-color: #E5E5E5;"></div>
                <div class="form-group"><input class="form-control" type="password" id="password1" name="password1" placeholder="Password" style="background-color: #E5E5E5;"></div>
                <div class="form-group"><input class="form-control" type="password" id="password2" name="password2" placeholder="Password (repeat)" style="background-color: #E5E5E5;"></div>
                <div class="form-group"><input class="form-control" type="number" name="kontak" placeholder="No HP" style="background-color: #E5E5E5;"></div>
                <div class="form-group"><input class="form-control" type="number" name="nip" placeholder="NIP"  style="background-color: #E5E5E5;"></div>           
                <div class="form-group"><label class="text-center" style="font-weight: normal;">Bidang</label>
                    <select class="form-control" name="bidang" style="background-color: #E5E5E5;">
                        <optgroup label="Bidang">
                            <option value="12" selected="">Ekonomi</option><option value="13">PIK</option>
                            <option value="14">Kedokteran</option>
                            <option value="15">Ilmu Ikan</option>
                            <option value="16">Biologi</option>
                        </optgroup>
                    </select>
                </div>
                <div class="checkbox-row">
                    <input type="checkbox" name="is_teacher" id="id_is_teacher" checked="checked" style="opacity:0;" value="True">
                </div>
                <!-- {{form.as_p}}
                {{m_form.as_p}} -->
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: #ffa883;">Register</button></div>                
            </form>
        </div>
    </div>



    <div class="container-fluid text-center d-inline-block" style="background-image: url(&quot;{% static 'papi/img/FooterRevisi.png' %}&quot;);background-position: top;background-size: contain;">
        <div style="min-height: 50px;"></div>
        <p style="font-size: 30px;font-weight: bold;color: #ffffff;">Cyber Developer</p>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>