{% extends 'papi/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WebPapi</title>
    <link rel="stylesheet" href="{% static 'papi/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/styles.css' %}">
    <link rel="icon" href="{% static 'papi/img/Logo.png' %}">
</head>

<body>
    {% block content %}
    <div class="container-fluid text-center"
        style="background-image: url({% static 'papi/img/Head.jpg' %});background-position: top;background-size: auto;">
        <div style="min-height: 330px;"></div>
    </div>
    <div class="login-clean" style="background-color: #FAF1E8;">
        <div class="container" class="border rounded" method="post"
            style="min-width: 80%;background-color: #fbead8;margin-top: -50px;margin-bottom: 50px; box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15); margin-right: 10%; margin-left: 10%">
            <p class="text-center" style="color: #70c7e2;font-size: 30px;font-weight: bold;">Kamu punya proposal PKM
                yang ingin diajukan?<br></p>
            <p class="text-center" style="color: #70c7e2;font-size: 30px;font-weight: bold;">Ayo Upload Sekarang!<br>
            </p>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 p-3">
                    <div class="card h-100">
                        <img class="card-img-top img-fluid" src="{% static 'papi/img/uploadfile.png' %}" alt="img"
                            style="width: 90px;display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;">Proposal PKM</h4>
                            <a href="#" class="btn btn-xl btn-success" style="width: 90px;display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;"><span class="glyphicon glyphicon-ok"></span>{{pkms.idStatus.namaStatus}}</a>

                            <p class="card-text">Pastikan format proposal yang akan kamu kirim sudah sesuai dengan
                                pedoman terbaru.</p>
                        </div>
                        <div class="card-footer text-center bg-white">
                            {% if pkms.idStatus.pk == null%}
                            <a class="btn btn-outline-secondary" href="{% url 'upload-page' %}">Upload</a>
                            {% else %}
                            <a class="btn btn-outline-secondary"
                                href="{% url 'update-pkm' idUsers=pkms.idUsers.pk %}">Perbaharui</a>
                            {% endif %}
                            <a class="btn btn-outline-secondary" href="{% url 'log-file' %}">
                                Tracker</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 p-3">
                    <div class="card h-100">
                        <img class="card-img-top img-fluid" src="{% static 'papi/img/uploadanggota.png' %}" alt="img"
                            style="width: 90px;display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;">Data Anggota</h4>
                            <p class="card-text">Input data anggota untuk mendapatkan notifikasi email. Tidak perlu
                                menginput ulang data ketua tim</p>
                        </div>
                        <div class="card-footer text-center bg-white">
                            {% if anggota.count < pkms.idBidang.jumlahAnggota  %}
                            <a class="btn btn-outline-secondary" href="{% url 'input-anggota' %}">Tambah</a>
                            {% endif %}
                            <a class="btn btn-outline-secondary" href="#">Ubah</a>
                            <a class="btn btn-outline-secondary" href="#">Lihat</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 p-3">
                    <div class="card h-100">
                        <img class="card-img-top img-fluid" src="{% static 'papi/img/uploaddosen.png' %}" alt="img"
                            style="width: 90px;display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;">Data Dosen Pembimbing</h4>
                            <p class="card-text">Input data dosen pembimbing untuk mendapatkan notifikasi email. Input
                                email dosen pembimbing yang paling sering digunakan.</p>
                        </div>
                        <div class="card-footer text-center bg-white">
                            {% if dospem == null%}
                            <a class="btn btn-outline-secondary" href="{% url 'input-dospem' %}">Tambah</a>
                            {% endif %}
                            <a class="btn btn-outline-secondary" href="#">Ubah</a>
                            <a class="btn btn-outline-secondary" href="#">Lihat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <script src="{% static 'papi/js/jquery.min.js' %}"></script>
    <script src="{% static 'papi/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>