{% extends 'papi/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WebPapi</title>
    <link rel="stylesheet" href="{% static 'papi/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{%  static 'papi/css/Login-Form-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'papi/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/styles.css' %}">

</head>

<body>

{% block content %}
    <div class="container-fluid text-center " style="background-image: url({% static 'papi/img/Head.jpg' %});background-position: top;background-size: auto;">
        <div style="min-height: 280px;"></div>

    </div>
    <div class="login-clean" style="background-color: #FAF1E8;">
        <form class="border rounded" style="min-width: 900px;background-color: #FDE3C8;">
            <h2 class="sr-only">Download Format</h2>
            <div class="illustration"></div>
            <div class="form-row">
                <div class="col">
                    <p class="text-center" style="color: #70c7e2;font-size: 30px;font-weight: bold;">Download Format<br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="text" style="color: #FFA883;">Format PKM K</h3>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block" type="download" style="background-color: #ffa883;">Download</button></div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <h3 class="text" style="color: #FFA883;">Format PKM Penelitian</h3>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block" type="download" style="background-color: #ffa883;">Download</button></div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="text" style="color: #FFA883;">Format PKM Kewirausahaan</h3>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block" type="download" style="background-color: #ffa883;">Download</button></div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="text" style="color: #FFA883;">Format PKM Pengabdian Masyarakat</h3>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block" type="download" style="background-color: #ffa883;">Download</button></div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="text" style="color: #FFA883;">Format PKM Penerapan Teknologi</h3>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block" type="download" style="background-color: #ffa883;">Download</button></div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="text" style="color: #FFA883;">Format PKM Karsa Cipta</h3>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block" type="download" style="background-color: #ffa883;">Download</button></div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="text" style="color: #FFA883;">Format PKM Artikel Ilkamiah</h3>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block" type="download" style="background-color: #ffa883;">Download</button></div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="text" style="color: #FFA883;">Format PKM Gagasan Tertulis</h3>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block" type="download" style="background-color: #ffa883;">Download</button></div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="text" style="color: #FFA883;">Format PKM Gagasan Futuristik Konstruktif</h3>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block" type="download" style="background-color: #ffa883;">Download</button></div>
            </div>
        </form>
    </div>



{% endblock %}
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>