{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebPapi</title>
    <link rel="stylesheet" href="{% static 'papi/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/main.css' %}">

</head>
<body>
    <header class="headerOne">
        <div class="overlay-fluid-block">
            <div class="container text-center">
                    <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col">
                    
                                <a class="btn btn-custom btn-lg col"  href="#" role="button">Informasi PKM</a>
                            </div>
                            <div class="col">
                                    <a class="btn btn-custom btn-lg col" href="#" role="button">Informasi Dosen</a>
                            </div>
                            <div class="col">
                                    <a class="btn btn-custom btn-lg col" href="#" role="button">Timeline</a>
                            </div>
                            <div class="col">
                                    <a class="btn btn-custom btn-lg col" href="#" role="button">Format</a>
                            </div>
                            <div class="col">
                                    <a class="btn btn-custom btn-lg col" href="#" role="button">Login</a>
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                <div class="row">
                    <div class="home-wrapper">
                        <div class="container row ">
                            <div class=""></div>
                            <img class="col-2 w-25 p-3 h-25 d-inline-block img-thumbnails" src="{% static 'papi/css/logo.png'%}" alt="" class="text-center">
                            <h1 class="text-center text-home">WebPapi</h1>
                        </div>
                        <h1 class="text-center text-home-two">Padjadjaran Goes To Pimnas</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <h1 class="text-center">Everything you need to know about PKM</h1>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</body>
</html>