{% extends 'papi/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WebPapi</title>
    <link rel="stylesheet" href="{% static 'papi/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/styles.css' %}">
</head>

<body>
{% block content %}
<div class="container-fluid text-center d-table" style="background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url(&quot;{% static 'papi/img/Header.png' %}&quot;);height: 400px;">

    <div class="row justify-content-center align-items-center">
        <div class="col-auto text-right align-self-center"><img src="{% static 'papi/img/Logo.png' %}" width="100" height="100"></div>
        <div class="col-auto text-left" style="font-size: 96px;font-weight: bold;font-style: normal;color: rgb(252,253,255);">
            <p>WebPapi</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center" style="font-size: 36px;color: rgb(252,253,255);">Padjadjaran Goes To Pimnas</p>
        </div>
    </div>
</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}
<div class="container text-center">
    <p class="text-center flex-shrink-1 justify-content-center align-content-center my-auto" style="font-size: 36px;color: #70c7e2;font-weight: bold;"><br>Everything you need to know about PKM<br><br></p>
    <p class="text-center" style="font-size: 36px;color: #70c7e2;font-weight: bold;">All In One Place</p>
    <div class="row" style="margin-top: 30px;">
        <div class="col">
            <p class="text-left" style="color: #ffa883;font-size: 44px;font-weight: bold;">Infromasi PKM</p>
            <div class="row">
                <div class="col">
                    <p class="text-left" style="font-size: 20px;color: #ffa883;"><br>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, quis nostrud <br>exercitation ullamco laboris nisi ut aliquip
                        <br>ex ea commodo consequat. Duis aute irure.<br><br></p>
                </div>
            </div>
        </div>
        <div class="col"><img src="{% static 'papi/img/Logo.png' %}" style="width: 400px;"></div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col"><img src="{% static 'papi/img/Logo.png' %}" style="width: 400px;"></div>
        <div class="col">
            <p class="text-left" style="color: #ffa883;font-size: 44px;font-weight: bold;">Informasi Dosen</p>
            <div class="row">
                <div class="col">
                    <p class="text-left" style="font-size: 20px;color: #ffa883;"><br>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, quis nostrud <br>exercitation ullamco laboris nisi ut aliquip
                        <br>ex ea commodo consequat. Duis aute irure.<br><br></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>