{% extends 'papi/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WebPapi</title>
    <link rel="stylesheet" href="{% static 'papi/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/styles.css' %}">
    <link rel="icon" href="{% static 'papi/img/Logo.png' %}">
</head>
<body>
{% block content %}
    <div class="container-fluid text-center" style="background-image: url({% static 'papi/img/Head.jpg' %});background-position: top;background-size: auto;">
        <div style="min-height: 330px;"></div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
    {% endif %}
    <div class="login-clean" style="background-color: #FAF1E8;">
        <div class="container text-center" style="background-color: #FAF1E8">
            <p class="text-center" style="font-size: 36px;color: #70c7e2;font-weight: bold;"><br>Everything you need to know about PKM<br>All In One Place</p>
            <div class="row" style="margin-top: 30px;">
                <div class="col">
                    <p class="text-left" style="color: #ffa883;font-size: 44px;font-weight: bold;">Informasi PKM</p>
                    <div class="row">
                        <div class="col">
                            <p class="text-left" style="font-size: 20px;color: #ffa883;">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, quis nostrud <br>exercitation ullamco laboris nisi ut aliquip
                                <br>ex ea commodo consequat. Duis aute irure.<br><br></p>
                        </div>
                    </div>
                </div>
                <div class="col"><img src="{% static 'papi/img/Logo.png' %}" style="width: 400px;"></div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col"><img src="{% static 'papi/img/Logo.png' %}" style="width: 400px;"></div>
                <div class="col">
                    <p class="text-left" style="color: #ffa883;font-size: 44px;font-weight: bold;">Informasi Dosen</p>
                    <div class="row">
                        <div class="col">
                            <p class="text-left" style="font-size: 20px;color: #ffa883;">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, quis nostrud <br>exercitation ullamco laboris nisi ut aliquip
                                <br>ex ea commodo consequat. Duis aute irure.<br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script src="{% static 'papi/js/jquery.min.js' %}"></script>
<script src="{% static 'papi/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>