{% extends 'papi/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WebPapi</title>
    <link rel="stylesheet" href="{% static 'papi/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/styles.css' %}">
    <link rel="icon" href="{% static 'papi/img/Logo.png' %}">
</head>

<body>

    {% block content %}
    <div class="container-fluid text-center"
        style="background-image: url({% static 'papi/img/Head.jpg' %});background-position: top;background-size: auto;">
        <div style="min-height: 330px;"></div>
    </div>
    <div class="login-clean" style="background-color: #FAF1E8;">
        <form class="border rounded" method="POST" action="{% url 'update-dosbim' idDosbim=dosbim.pk %}"
            enctype="multipart/form-data"
            style="min-width: 80%;background-color: #fbead8;margin-top: -50px;margin-bottom: 50px; box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15); margin-right: 10%; margin-left: 10%">
            {% csrf_token %}
            <div class="illustration"></div>
            <div class="form-row">
                <div class="col">
                    <p class="text-center" style="color: #70c7e2;font-size: 30px;font-weight: bold;">Input Data
                        Dosen Pembimbing<br></p>
                </div>
            </div>
            <div class="form-group"><input class="form-control" value="{{ dosbim.namaDosen }}" type="text"
                    name="namaDosen" placeholder="Nama" style="background-color: #f0f9fc;"></div>
            <div class="form-group"><input class="form-control" value="{{ dosbim.nipDosen }}" type="number"
                    name="nipDosen" placeholder="NIP" style="background-color: #f0f9fc;"></div>
            <div class="form-group"><input class="form-control" type="email" value="{{ dosbim.emailDosen }}"
                    name="emailDosen" placeholder="E-mail" style="background-color: #f0f9fc;"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
                    style="background-color: #ffa883;">Update</button></div>

        </form>
    </div>
    {% endblock %}
    <footer class="page-footer font-small" style="background-color: #2E2E2E">
        <div class="footer-copyright text-center py-3" style="color: white">© 2019 Cyber</div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>