{% extends 'papi/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WebPapi</title>

    <link rel="stylesheet" href="{% static 'papi/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{%  static 'papi/css/Login-Form-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'papi/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/styles.css' %}">
</head>

<body>

    </div>
    </div>
    <!-- OK SIAP -->
    {% block content %}
    <div class="login-clean" style="background-color: #FAF1E8;">
        <form class="border rounded" method="POST" enctype="multipart/form-data" action="{% url 'upload-page' %}"
            style="min-width: 900px;background-color: #FDE3C8;">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"></div>
            <div class="form-row">
                <div class="col">
                    <p class="text-center" style="color: #70c7e2;font-size: 30px;font-weight: bold;">Kamu punya proposal
                        PKM yang ingin diajukan?<br></p>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <p class="text-center" style="color: #70c7e2;font-size: 30px;font-weight: bold;">Ayo Upload
                        Sekarang!<br></p>
                </div>
            </div>
            <div class="form-group"><input class="form-control" type="text" name="judul" placeholder="Judul PKM"
                    style="background-color: #e5e5e5;"></div>
            <div class="form-group"><input class="form-control" type="text" name="namaKetua" placeholder="Nama Ketua"
                    style="background-color: #e5e5e5;"></div>
            <div class="form-group"><input class="form-control" type="text" name="deskripsi" placeholder="Deskripsi"
                    style="background-color: #e5e5e5;"></div>
            <label>File PKM (.docx)</label>
            <input class="form-control" type="file" name="document" accept=".doc, .docx" placeholder="uploadPKM"
                style="background-color: #e5e5e5;">

            <select class="custom-select my-1 mr-sm-2" name="idFakultas"
                id="inlineFormMhsSelectKategorirmMhsSelectBidang" style="background-color: #e5e5e5" ;>
                <option selected>Fakultas</option>
                {% for fakulta in fakultas %}
                <option value="{{ fakulta.pk }}">{{ fakulta.namaFakultas }}</option>
                {% endfor %}

            </select>
            <select class="custom-select my-1 mr-sm-2" name="idBidang" id="inlineFormMhsSelectBidang"
                style="background-color: #e5e5e5" ;>
                <option selected>Bidang PKM</option>
                {% for bid in bidang %}
                <option value="{{ bid.pk }}">{{ bid.namaBidang }}</option>
                {% endfor %}
            </select>
            <select class="custom-select my-1 mr-sm-2" name="idKategori" id="inlineFormMhsSelectKategori"
                style="background-color: #e5e5e5" ;>
                <option selected>Kategori PKM</option>
                {% for kat in kategori %}
                <option value="{{ kat.pk }}">{{ kat.namaKategori }}</option>
                {% endfor %}

            </select>
            <input type="hidden" id="idStatus" name="idStatus" value="1">
            <input type="hidden" id="idDosenReviewer" name="idDosenReviewer" value="2">
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
                    style="background-color: #ffa883;">Upload Proposal PKM</button></div>
            {% if u_form.errors %}
            <p>{{ u_form.errors }}</p>
            {% endif %}
        </form>

        <div class="form-row justify-content-center">
            <div class="col-4 col-xl-12 text-center">
                <p class="text-center" style="font-size: 20px;"><br>Lorem ipsum dolor sit amet, consectetur
                    <br>adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. <br>Ut
                    enim ad minim veniam, quis nostrud <br>exercitation ullamco laboris nisi ut aliquip <br>ex
                    ea commodo consequat. Duis aute irure.<br><br></p>
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="container-fluid text-center d-inline-block"
        style="background-image: url(&quot;assets/img/Head.jpg&quot;);background-position: top;background-size: contain;">
        <div style="min-height: 200px;"></div>

    </div>
    <div class="container-fluid text-center d-inline-block"
        style="background-image: url(&quot;assets/img/FooterRevisi.png&quot;);background-position: top;background-size: contain;">
        <div style="min-height: 50px;"></div>
        <p style="font-size: 30px;font-weight: bold;color: #ffffff;">Cyber Developer</p>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>