{% extends 'papi/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WebPapi</title>
    <link rel="stylesheet" href="{% static 'papi/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/styles.css' %}">
    <link rel="icon" href="{% static 'papi/img/Logo.png' %}">
</head>
<body>

{% block content %}
    <div class="container-fluid text-center" style="background-image: url({% static 'papi/img/Head.jpg' %});background-position: top;background-size: auto;">
        <div style="min-height: 330px;"></div>
    </div>
    <div class="login-clean" style="background-color: #FAF1E8;">
        <div class="container" style="min-width: 80%;background-color: #fbead8;margin-top: -50px;margin-bottom: 50px; box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15); margin-right: 10%; margin-left: 7%">
            <div class="form-row">
                <div class="col">
                    <p class="text-center" style="color: #70c7e2;font-size: 30px;font-weight: bold;">Proposal PKM<br></p>
                </div>
            </div>
            <table class="table text-center" >
                <thead>
                <tr>
                    <th scope="col"><a class="btn btn-primary btn-block" href="{% url 'list-pkm-dosen' idStatus=1 %}" type="submit" style="background-color: #ffa883;">Belum Direvisi</a></th>
                    <th scope="col"><a class="btn btn-primary btn-block" type="submit" href="{% url 'list-pkm-dosen' idStatus=3 %}" style="background-color: #ffa883;">Sudah Direvisi</a></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row"><a href="{% url 'list-pkm-dosen' idStatus=1 %}"><p style="font-size: 144px;font-weight: bold;color: #FFA883; ">{{ notrevisied.count }}</p></a></td>
                    <td><a href="{% url 'list-pkm-dosen' idStatus=3 %}"><p style="font-size: 144px;font-weight: bold;color: #FFA883;">{{ revisied.count }}</p></a></td>
                </tr>
                <tr>
                </tbody>
            </table>

            </form>
        </div>
    </div>
{% endblock %}
<script src="{% static 'papi/js/jquery.min.js' %}"></script>
<script src="{% static 'papi/bootstrap/js/bootstrap.min.js' %}"></script>
<script>
    let unrevisedChart = document.getElementById(unrevisedChart).getContext('2d');
    let massPopChart = new Chart(unrevisedChart, {
        type:'bar',
        data:{
            labels:['Belum direvisi', 'Sudah direvisi', 'Selesai'],
            datasets:[{
                label:'jumlah',
                data:[
                    12,
                    2,
                    3]
            }]
        },
        options:{}
    })
</script>
</body>
</html>