{% extends 'papi/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WebPapi</title>
    <link rel="stylesheet" href="{% static 'papi/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'papi/css/styles.css' %}">
    <link rel="icon" href="{% static 'papi/img/Logo.png' %}">
</head>
<body>
{% block content %}
    <div class="register-photo" style="background-color: #FAF1E8;">
        <div class="login-clean" style="background-color: #FAF1E8;">
            <div class="form-container" style="background-color: #FDE3C8;">
                <form method="POST" class="border rounded" enctype="multipart/form-data" style="min-width: 60%;background-color: #fbead8;margin-top: -50px;margin-bottom: 50px;margin-top: 50px; box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15); margin-right: 10%; margin-left: 18%">
                    <div class="illustration">
                        <div><img src="{% static 'papi/img/Login.jpg' %}" class="center"></div>
                    </div>
                    <div class="form-group"><input class="form-control" type="text" name="nama" placeholder="ID PKM" value="{{ pkm.pk }}" disabled style="background-color: #f0f9fc;"></div>
                    <div class="form-group"><input class="form-control" type="text"  placeholder="Kategori PKM" disabled value="{{ pkm.idKategori.namaKategori }}" style="background-color: #f0f9fc;"></div>
                    <div class="form-group"><input class="form-control" type="text" name="npm" placeholder="Bidang PKM" value="{{ pkm.idBidang.namaBidang }}" disabled style="background-color: #f0f9fc;"></div>
                    <div class="form-group"><input class="form-control" type="text" name="npm" placeholder="Judul PKM" value="{{ pkm.judul }}" disabled style="background-color: #f0f9fc;"></div>
                    <div class="control-group">
                        <label class="control-label" for="filebutton">Upload Revisi (.docx)</label>
                        <div class="controls">
                            <input id="filebutton" name="document" class="input-file" type="file">
                        </div>
                    </div>
                    <input type="hidden" name="idStatus" value="3">
                    <input type="hidden" name="idKetua" value="{{ pkm.idUsers.pk }}">

                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: #FFA883;color: #FAF2E8;">Done</button></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
<script src="{% static 'papi/js/jquery.min.js' %}"></script>
<script src="{% static 'papi/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>